@{
    ViewData["Title"] = "Éxito";
}
 
<link href="~/css/russian.css" rel="stylesheet" />
 
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 50px">
    <img src="/check.png" width="125" height="125" style="margin: 20px;" />
    <h2 class="title">Practise successfully completed!</h2>
    <div style="text-align: center" class="nostyle">
            <a asp-action="Index" asp-controller="Spanish" type="submit" class="nostyle loginbtn" id="sbm">
                 <span class="nostyle">GO BACK</span>
            </a> 
        </div>
</div>