@{
    ViewData["Title"] = "Поиск";
}


<link href="~/css/russian.css" rel="stylesheet" />

@model RussianListViewModel

<div class="page-container">
    <form method="post">
        <a class="back_container nostyle" href="~/russian">
            <img src="~/svgs/arrow-left-square-fill.svg" width="35" height="35" class="backbtn" />
            <span class="backtxt">Назад</span>
        </a>
        <h1 class="title">Поиск русских слов</h1>
        <input id="word" type="text" class="word-input" name="WordToFind" placeholder="Введите слово которое ищете..." />
    </form>


    <div class="modal-container" id="modal_container">
        <form method="post" name="edit"
              class="modal">
            <div class="modal-card">
                <img src="~/svgs/x.svg" width="35" height="35" id="exit"/>
                <h1 class="title">Edit</h1>
                <input type="text" class="edit-input" name="userName" value="" id="rus" placeholder="Russian" />
                <input type="text" class="edit-input" name="Password" value="" id="eng" placeholder="English" />
                <button class="loginbtn" id="lgnbtn">
                    <span>SUBMIT</span>
                </button>
            </div>
        </form>
    </div>

    <table class="tbl">
        <thead>
            <tr>
                <td>Русский</td>
                <td>Английский</td>
                <td> </td>
            </tr>
        </thead>
        @if (Model.WordList.Count() == 0)
        {
            <tr>
                <td>Нет слов здесь</td>
            </tr>
        }
        else foreach (Tuple<string, string> pair in Model.WordList)
            {
                <tr>
                    <td class="russian_word">@pair.Item1</td>
                    <td class="english_word">@pair.Item2</td>
                    <td class="back_container open" @*onclick="window.location='/russian/edit';"*@ >
                            <img src="~/svgs/gear-fill.svg" class="gear-icon" /><span>Edit</span>
                    </td>
                </tr>
            }
    </table>

</div>

<script src="~/js/edit.js"></script>
