<link href="~/css/russian.css" rel="stylesheet" />

<div>
    <a class="back_container" href="~/russian">
        <img src="~/arrow-left-square-fill.svg" width="35" height="35" class="backbtn" />
        <span class="backtxt">Назад</span>
    </a>
    <h1 class="title">Поиск русских слова</h1>
</div>