@{
    ViewData["Title"] = "Dashboard";
}

<link href="~/css/home.css" rel="stylesheet" />

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 50px">
    <h1 class="title">Welcome Back! Choose a Language:</h1>
    <div style="display: flex">
        <a href="/russian" class="nostyle">
            <div class="img-container">
                <img src="~/imgs/Flag_of_Russia.svg.png" class="langimg" />
                <div class="subtext">Руский</div>
            </div>
        </a>
        <a href="/spanish" class="nostyle">
            <div class="img-container">
                <img src="~/imgs/spain_flag.png" class="langimg" />
                <div class="subtext">Español</div>
            </div>
        </a>
    </div>
</div>