.modal-container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

#open {
    transition: display 0.2s ease;
}

#open.hide {
    display: none;
}

#welcome {
    font-family: Raleway;
    color: white;
    margin: 20px;
    transition: display 0.2s ease;
}

#welcome.hide {
    display: none;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
}

.model h2 {
    margin: 0;
}


.title {
    font-size: 50px;
    margin: 10px;
    color: white;
}

.lgninp {
    color: white;
    background-color: #2d2d4a;
    border-radius: 10px;
    min-width: 250px;
    padding: 10px;
    margin: 10px;
}

.img-container {
    margin: 20px;
}

.langimg {
    width: 150px;
    height: 120px;
    border-radius: 5px;
    margin: 10px;
}


@keyframes opac {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

.img-container:hover {
    cursor: pointer;
    animation: opac forwards 0.3s;
}

.subtext {
    color: white;
    font-size: 20px;
    text-align: center;
}

