.backbtn {
    margin: 10px;
}

.backtxt {
    color: #fcba03;
    font-size: 15px;
    margin-top: 10px
}

.title {
    font-size: 50px;
    margin: 10px;
    color: white;
}

.subtitle {
    font-size: 20px;
    color: white;
    margin: 10px;
}

.display-card {
    background-color: #fcba03;
    margin: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    min-width: 300px;
    text-align: center;
}

.display-card:hover {
    animation: opac 0.4s forwards;
    cursor: pointer;
}

@keyframes opac {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.7;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.back_container:hover {
    cursor: pointer;
    animation: opac 0.4s forwards;
}


.card-title {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
}

.desc {
    color: #fff;
    font-size: 18px;
}

.nostyle:hover {
    text-decoration: none;
}

.word-input {
    min-width: 450px;
    width: 50vw;
    background-color: #3b3b63;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.tbl {
    color: white;
    margin-top: 20px;
    min-width: 450px;
    width: 50vw;
    border-collapse: separate;
    border-spacing: 10px;
}

.tbl thead td {
    text-align: center;
    font-weight: bold;
}

.tbl tr td{
    padding: 20px;
    background-color: #3b3b63;
    border-radius: 10px;
}

.tbl tr td:last-child {
    text-align: center;
}

.gear-icon {
    font-size: 20px;
    margin: 5px;
}

::placeholder {
    color: #999;
}

.modal-container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 4;
}


.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
}

.modal-card {
    background-color: #13131f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    border-radius: 5px;
    position: relative;
    min-width: 350px;
}

.edit-input {
    min-width: 250px;
    width: 20vw;
    background-color: #3b3b63;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

#exit {
    position: absolute;
    top: 10px;
    right: 10px;
}

#exit:hover {
    cursor: pointer;
}

.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-submit {
    min-width: 450px;
    width: 50vw;
    background-color: #fcba03;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}


.word-submit:hover {
    cursor: pointer;
    animation: opac forwards 0.5s;
}
